body {
    display: grid;
    grid-template-rows: 10% 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

.catBtn {
    background-color: #c040c7;
    border-radius: 15%;
}

#cat-display {
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

#cat-img {
    top: auto;
    width: 75%;
}

#stats-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(233, 233, 78);
    color: black;
}

#upgrade-button {
    margin: 0px 10% 0px 10%;
}

#selection-grid {
    display: grid;
    background-color: #9e1ea5;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 3fr 1fr;
    align-items: center;
    justify-content: center;
}

img {
    justify-self: center;
}