body {
    background-color: linear-gradient(to bottom, #6750c4, #71059c);
}

#logo1 {
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 0;
}

.image {
    position: relative;
    display: grid;
    grid-template-rows: 50% 50%;
}

.image h1 {
    justify-self: center;
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 6vh;
    background: -webkit-linear-gradient(#ffc400, rgb(201, 180, 61));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    grid-row-start: 1;
    grid-row-end: 2;
}

#sleep-button {
    justify-self: center;
    position: absolute;
    color: white;
    font-size: 25pt;
    width: 50%;
    height: 40%;
    background: -webkit-linear-gradient(#ffc400, #deaa00);
    -webkit-text-fill-color: white;
    grid-row-start: 2;
    grid-row-end: 3;
}

#sleep-button:hover {
    background: -webkit-linear-gradient(#ffcb21, #ffd755);
    -webkit-text-fill-color: white;
}

#main-img {
    width: 100vw;
    height: 200%;
    object-fit: fill;
}

#sleep-popup {
    position: fixed;
    width: 300px;
    height: 200px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
}

#cancel-sleep-button {
    position: absolute;
    bottom: 0px;
    right: 80px;
    margin: 10px;
}

#confirm-sleep-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
}

#sleep-popup label {
    margin-left: 10px;
}

#end-sleep-popup {
    position: fixed;
    width: 300px;
    height: 220px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
}

#cancel-end-sleep-button {
    position: absolute;
    bottom: 0px;
    right: 80px;
    margin: 10px;
}

#confirm-end-sleep-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
}

#session-warning {
    display: none;
}

#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

#overlay button {
    position: fixed;
    height: 80px;
    width: 300px;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#session-popup {
    position: fixed;
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
}

#sleep-game {
    position: absolute;
    bottom: 0px;
    right: 50px;
    margin: 10px;
}

#sleep-log {
    position: absolute;
    bottom: 0px;
    left: 50px;
    margin: 10px;
}

#session-popup .material-symbols-outlined {
    cursor: pointer;
}

.slider {
    justify-content: center;
    margin: auto;
    width: 100vw;
    overflow: hidden;
}

.slides {
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides a {
    flex-shrink: 0;
    width: 100%;
    height: 40vh;
    margin-top: 2%;
    margin-right: 10%;
    border-radius: 30px;
    background: linear-gradient(to bottom, #d295ee, #842cb0);
    color: white;
    transform-origin:  center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    text-decoration: none;
}

.slides a:hover {
    background: linear-gradient(to bottom, #d6a4ed, #873cac);
}

.feature-container {
    justify-content: center;
}

.footer-container a {
    color: white;
    margin: 10vw;
}

.footer-container span {
    font-size: 30pt;
}