body {
    background-color: #890f90;
}

.navbar {
    background-color: #4C0750;
}

#landing-page-footer {
    background-color: #4C0750;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

#landing-page-welcome-banner {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

img {
    max-width: 50px;
    max-height: 50px;
}

/* To-Do List */
#todo-list {
    padding-top: 2em;
}

#todo-list-heading {
    text-align: center;
    margin: auto;
    width: 50%;
}

#todo-list>ul {
    list-style: none;
}

.todo-list-item {
    margin: auto;
    width: 50%;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

#new-item {
    padding-left: 50%;
    width: 50%;
    height: auto;
}