body {
    background-color: #890f90;
}

.navbar {
    background-color: #4C0750;
}

#landing-page-footer {
    background-color: #4C0750;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

#landing-page-welcome-banner {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-container {
    display: grid;
    grid-template-rows: 10vh 40vh 40vh;
    background-color: #890f90;
}

.nav-bar {
    background-color: #4C0750;
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    font-family: 'Poppins', sans-serif;
}

.nav-bar>img {
    max-width: 10vh;
    max-height: 10vh;
    border-radius: 50%;
}

.nav-bar p {
    text-align: center;
    margin: auto;
    color: white;
    font-size: xx-large;
}

#logo1 {
    float: left;
}

.nav-bar .material-symbols-outlined {
    color: white;
    font-size: 8vh;
}

.dropdown-content .material-symbols-outlined {
    font-size: 5vh;
    color: black;
}

.dropbtn {
    background-color: #4C0750;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: right;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-height: 100vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: 0;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}