body {
    background-color: #890f90;
    margin: 0;
    padding: 0
}

.navbar {
    background-color: #4c0750
}

.todo-list-container {
    margin: 20px auto;
    display: flex;
    align-items: first baseline;
    justify-content: center;
    flex-direction: column
}

@media only screen and (min-width:1281px) {
    .todo-list-container {
        width: 40%
    }
}

@media only screen and (min-width:701px) and (max-width:1280px) {
    .todo-list-container {
        width: 40%
    }
}

@media only screen and (max-width:700px) {
    .todo-list-container {
        width: 80%
    }
}

.todo-list-container :not(#item-content, #new-item, .deleteTask, .editTask, .task-content) {
    width: 100%
}

#task-list,
.todo-list {
    background-color: plum;
    border-radius: 20px
}

.todo-list {
    padding: 30px;
    display: flex;
    align-items: center
}

#task-list {
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;
    list-style: none
}

#item-content {
    padding: 10px;
    width: 90%;
    border-style: solid;
    border-color: indigo;
    border-radius: 10px;
    height: 50px
}

#new-item {
    width: 10%;
    text-align: center;
    border: 0;
    border-radius: 10px;
    padding: 10px 25px;
    margin-left: 10px;
    background-color: #32174d;
    color: #fff
}

#new-item:hover {
    filter: brightness(.5);
    cursor: pointer
}

#noTasks,
.task {
    margin-top: 2px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: indigo;
    background-color: #fff;
    border-radius: 10px
}

.task {
    display: flex
}

.task-content {
    display: inline-block;
    word-break: break-word;
    display: flex;
    flex: 20
}

.deleteTask,
.editTask {
    display: flex;
    flex: 1;
    float: right;
    cursor: pointer
}

#task-list:hover .deleteTask,
#task-list:hover .editTask {
    display: inline-flex;
    float: right;
    cursor: pointer
}