body {
    background-color: #890f90;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #4c0750;
}

.todo-list-container {
    margin: 20px auto;
    display: flex;
    align-items: first baseline;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (min-width:701px) {
    .todo-list-container {
        width: 40%;
    }
}

@media only screen and (max-width:700px) {
    .todo-list-container {
        width: 80%;
    }
}

.todo-list-container :not(#item-content, #new-item, .deleteTask, .editTask, .task-content) {
    width: 100%;
}

#task-list,
.todo-list {
    background-color: plum;
    border-radius: 20px;
}

.todo-list {
    padding: 30px;
    display: flex;
    align-items: center;
}

#task-list {
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;
    list-style: none;
}

#item-content {
    padding: 10px;
    width: 90%;
    border-style: solid;
    border-color: indigo;
    border-radius: 10px;
    height: 50px;
}

#new-item {
    width: 10%;
    height: 50px;
    text-align: center;
    padding-top: 13px;
    margin-left: 1px;
    border: 0;
    border-radius: 10px;
    background-color: #32174d;
    color: #fff;
    user-select: none;
}

#new-item:hover {
    filter: brightness(.5);
    cursor: pointer;
}


#noTasks,
.task {
    margin-top: 2px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: indigo;
    background-color: #fff;
    border-radius: 10px;
}

.task {
    display: flex;
}

.task-content {
    display: inline-block;
    word-break: break-word;
    display: flex;
}

.deleteTask,
.editTask,
.checkedTask {
    display: flex;
    flex: 1;
    cursor: pointer;
    user-select: none;
}

.deleteTask,
.editTask {
    float: right;
    padding-left: 10px;
}

.checkedTask {
    padding-right: 10px;
    float: left;
}

#task-list:hover .deleteTask,
#task-list:hover .editTask,
#task-lst:hover .checkedTask {
    display: inline-flex;
    float: right;
    cursor: pointer;
}

#popup-empty-text {
    visibility: hidden;
    max-width: 160px;
    background-color: #b48648;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
}

#popup-same-text {
    visibility: hidden;
    max-width: 160px;
    background-color: #b48648;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 2;
}

.popup-visible {
    visibility: visible !important;
    animation: fade-in, fade-out;
    animation-fill-mode: forwards, forwards;
    animation-duration: 2s, 2s;
    animation-delay: 0s, 5s;
}

@media only screen and (min-width:1201px) and (max-width: 1900px) {

    #popup-empty-text,
    #popup-same-text {
        transform: translate(150px, -60px);
    }

    #new-item {
        width: 10%;
    }

    .task-content {
        width: 90%
    }
}

@media only screen and (min-width:701px) and (max-width: 1200px) {

    #popup-empty-text,
    #popup-same-text {
        transform: translate(100px, -60px);
    }

    #new-item {
        width: 15%;
    }

    .task-content {
        width: 85%
    }
}

@media only screen and (max-width:700px) {

    #popup-empty-text,
    #popup-same-text {
        transform: translate(50px, -60px);
    }

    #new-item {
        width: 17.5%;
    }

    .task-content {
        width: 82.5%
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}