.main-container {
    display: grid;
    grid-template-rows: 7vh 7vh 50vh 30vh;
}

.span-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;
}

.span-container input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

.span-container input[type="radio"]:checked+span {
    box-shadow: 0 0 0 0.0625em #0043ed;
    background-color: #dee7ff;
    z-index: 1;
    color: #0043ed;
}

label span {
    width: 20vw;
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: center;
    transition: background-color .5s ease;
}

label:first-child span {
    border-radius: .375em 0 0 .375em;
}

label:last-child span {
    border-radius: 0 .375em .375em 0;
}

.date-container {
    color: white;
    text-align: center;
    margin-top: 2rem;
}

.date-carousel-prev,
.date-carousel-next {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 40px;
}

.date-carousel-next {
    float: right;
    margin-right: 15px;
}

.date-carousel-prev {
    float: left;
    margin-left: 15px;
}

#date-selector {
    font-size: 40px;
}