#sleep-goal-popup {
    position: fixed;
    width: 300px;
    height: 400px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
}

#sleep-goal-popup h1 {
    text-align: center;
}

#cancel-end-sleep-button {
    position: absolute;
    bottom: 0px;
    right: 80px;
    margin: 10px;
}

#confirm-end-sleep-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
}

.sleep-history a {
    background-color: #c040c7;
    width: 100vw;
    height: 13vh;
    text-align: left;
    color :white;
}

.sleep-history a:hover {
    background-color: #c453ca;
}